<div class="card">
  <div class="card-header">
    <a href="/post/{{id}}">{{post_title}}</a>
    <p>Posted By: {{user.username}}
      On: {{format_date date_created}}</p>
  </div>
 
    <p class="card-text">{{post_content}}</p>
    <br>
    <hr>
    <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
   {{> comment-details comments}}
</div>
 
  
 




